[Unit]
Description=Run my fileserver backups at midnight every night

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target

